<app-navbar-cliente></app-navbar-cliente>

<div class="container mt-3">
		<div class="card col-md-5 mx-auto">
			<div class="card-header">Gestionar Perfil</div>
			<div class="card-body">

				<div class="row">
					<div class="col-md-6">
						<label>Nombre</label>
					</div>
					<div class="col-md-6">
						<p>Jose Pablo Fuentes Apú</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Email</label>
					</div>
					<div class="col-md-6">
						<p>josepablofa@gmail.com</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Región</label>
					</div>
					<div class="col-md-6">
						<p>America, Costa Rica</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<label>Direcciones</label>
					</div>
					<div class="col-md-6">
						<p>100 metros norte del palo del mango </p>
					</div>
				</div>
				<div class="row">
					<button class="btn btn-light">Editar perfil</button>
				</div>
			</div>
		</div>
</div>