<app-navbar-admin></app-navbar-admin>

<div class="container mt-3">
	<div class="card">
		<div class="card-header">Informacion General</div>
		<div class="card-body">
			<table id="platosTable" border="1" class="table table-bordered table-sm">
				<thead class="thead-light text-center">
					<tr>
						<th>Descripción</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<td>Promedio de dispositivos por usuario</td>
						<td>5</td>                     
					</tr>
					<tr class="text-center">
						<td>Dispositivos activos en el sistema</td>
						<td>5</td>                     
					</tr>
					<tr class="text-center">
						<td>Mostrar todas la regiones</td>
						<td>5</td>                     
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="card mt-5">
		<div class="card-header">Dispositivos</div>
		<div class="card-body">
			<table id="platosTable" border="1" class="table table-bordered table-sm">
				<thead class="thead-light text-center">
					<tr>
						<th>Tipo</th>
						<th>Marca</th>
						<th>Número de serie</th>
						<th>Posee usuario</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center" *ngFor="let dispositivo of dispositivos; let i = index">
						<td>{{dispositivo.tipo}}</td>
						<td>{{dispositivo.marca}}</td>
						<td>{{dispositivo.numeroSerie}}</td>
						<td>{{!dispositivo.enVenta ? 'Si' : 'No'}}</td>                     
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>


