<app-navbar-admin></app-navbar-admin>

<div class="container mt-3">
	<div class="card">
		<div class="card-header">Cargar información</div>
		<div class="card-body">
			<table id="dispositivosTable" border="1" class="table table-bordered table-lg">
				<thead class="thead-light text-center">
					<tr>
						<th>Numero </th>
						<th>Tipo</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-center">
						<td>1</td>
						<td>Prueba</td>
						<td> 
							<a class="btn btn-light"> Editar </a> 
							<a class="btn btn-danger ml-2"> Eliminar </a> 
						</td>			
					</tr>
				</tbody>
			</table>
			<button type="submit" class="btn btn-light">
				Crear nuevo tipo
			</button>
		</div>
	</div>
</div>

